*{
    margin: 0;
    padding: 0;
    border :none;
    background:#E7E7E7;
}
.main-container{
    width: 400px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-color:#ffffff;
}
.follow-title{
    font-family: 'roboto' sans-serif;
    background-color: #ffffff;
    border-bottom: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.follow-title h3{
    background-color: black;
    display:inline;
    color:#FADA1A;
    padding: 5px 10px;
}
.follow-icon{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px
    overflow: hidden;
}
.icon{
    width: 120px;
    height: 120px;
    background-color: #3b5998;
    margin-top:10px;
    float: left;
    margin-right: 10px;
    text-align: center;
}
.icon i{
    font-size:50px;
    background-color: transparent;
    margin-top: 10px;
    display: block;
    color: white;
}
.icon p{
    background-color: transparent;
    margin-top;10px;
    font-weight:bold;
    color: white;

}
.twtter{
    background-color: #1DCAFF;
}
.google-plus{
    background-color: #dd4b39;
    margin-right:0 px;
}





